@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Reset */
* {
  margin: 0;
}

/* Nav Gaming Zone */

nav {
  display: flex;
  justify-content: space-between;
  height: 6em;
  background-color: rgb(51, 90, 69);
  font-family: "Outfit", sans-serif;
}

.navLogos {
  display: flex;
  padding-left: 2em;
  margin: 0.5em;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 3em;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  color: rgb(0, 255, 0);
}

/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #f7f5f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos Generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-family: "Bitter", serif;
}

.section-text {
  font-size: 1.2rem;
}

.section-tittle {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Bitter", serif;
}

.section-description {
  font-size: 1.2rem;
  color: #584e84;
}
/* section 1 */

.section1 div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.section1 figure {
  display: flex;
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  top: -75px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 15px 25px #000000;
  padding: 0;
}

.section1 figure img {
  width: 100%;
  height: 100%;
}

.section1 p {
  padding-top: 50px;
  font-family: "Bitter", serif;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
  border-bottom: solid goldenrod 5px;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h3 {
  font-size: 1.2rem;
  color: #887a7a;
}

.hero i {
  font-size: 2.5rem;
}

/* Seccion de productos */

.product-section {
  filter: drop-shadow(0 0 10px rgb(0, 0, 0.8));
  padding: 20px;
  border-bottom: solid goldenrod 5px;
}

.product-section img {
  height: 300px;
  width: 250px;
  padding: 10px;
  display: block;
  transition: all 500ms ease;
  cursor: pointer;
  margin-left: -25px;
  padding: 0 0 0 0;
}

.product-container {
  /* border: 2px solid red; */
  padding-top: 60px;
  margin-bottom: 40px;
}

.product-container .row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-container .product {
  border-radius: 10%;
  overflow: hidden;
  width: 200px;
  height: 300px;
  margin-bottom: 50px;
  position: relative;
}

body .img-xxl {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

body .img-xxl span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

body .img-xxl img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

.overlay {
  transition: all 500ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Bitter", serif;
  cursor: pointer;
}

.overlay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.product:hover img {
  opacity: 0.2;
  font-family: "Bitter", serif;
}

.product:hover .overlay {
  opacity: 1;
}

/* estilos de la seccion 3  */

.section3 .titulo {
  display: flex;
  text-align: center;
  z-index: 100;
  /* align-items: start; */
}

.section3 {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  gap: 20px;
  width: 100%;
}

.fondo-oscuro {
  background: #f4efef;
}

.section3 h3 {
  margin-bottom: 15px;
}

.lane1,
.lane3,
.lane5 img {
  padding-right: 70px;
}

.lane2,
.lane3 img {
  padding-right: 70px;
}

.section3 p {
  display: flex;
  align-items: center;
  text-align: unset;
}

.section3 h2 {
  margin-bottom: 80px;
}

.section3 div {
  margin-bottom: 20px;
  width: 100%;
  padding: 30px 50px 0 50px;
}

.section3 div:first-child {
  padding-top: 50px;
}

.section3 img {
  width: 250px;
  height: 300px;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: center;
  height: 10em;
  background-color: rgb(51, 90, 69);
  margin-top: 5em;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 1024px) {
  .overlay p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 912px) {
  .overlay p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1206px) {
  .overlay p {
    font-size: 18px;
  }
}

@media screen and (max-width: 765px) {
  .navbar-brand {
    display: none;
  }
  body .img-xxl img {
    width: 95%;
  }
  .section3 h2 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .section3 p {
    width: 100%;
  }
}
