@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 6em;
  background-color: rgb(51, 90, 69);
  font-family: "Outfit", sans-serif;
}

.navLogos {
  display: flex;
  padding-left: 2em;
  margin: 0.5em;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 3em;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  color: rgb(0, 255, 0);
}

.headerHollowKnight {
  width: 100%;
  height: auto;
  background-color: black;
}

body {
  background-color: black;
}

.mainHolder {
  margin: 4em 10em;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 1em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

p,
ul {
  font-size: 1.2em;
  font-weight: 300;
}

.rowsHolder {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 3em 1em;
}

.imageAndText,
.textAndImage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgInRow {
  width: 48%;
  height: auto;
}

.textInRow {
  width: 45%;
  text-align: left;
  color: white;
}

.video-container {
  position: relative;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  height: 10em;
  background-color: rgb(51, 90, 69);
  margin-top: 5em;
}

@media (max-width: 1250px) {
  .imageAndText,
  .textAndImage {
    flex-direction: column;
  }
  .mainHolder {
    margin: 3em 0em;
  }
  .imgInRow {
    width: 70%;
    height: auto;
  }
  .textInRow {
    width: 70%;
  }
  .navLogos {
    padding-left: 0em;
    margin: 1.5em;
  }
  .navLinks {
    margin-right: 1em;
  }
}
